.details {
  width: 770px;
  margin: 40px auto;

  &_description {
    width: 770px;
    padding: 24px;
    margin-top: 20px;
    border: 1px solid #EAEBED;
    border-radius: 12px;
    background: #ffffff;

    p, ul {
      margin: 16px 0;
    }

    li {
      margin-left: 20px;
    }
  }


}